<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom Css -->
    <link rel="stylesheet" href="style.css" type="text/css" />

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <title>Frontier Analytics - Empresa</title>
  </head>

  <body>

  <!-- N A V B A R -->
  <nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon ion-md-menu"></span>
    </button>
    <img src="images/LogoFrontier.png" class="img-fluid nav-logo-mobile" alt="Company Logo">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="container">
      	<img src="images/LogoFrontier.png" class="img-fluid nav-logo-desktop" alt="Company Logo">
        <ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="index.html">Inicio <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#testimonials">Empresa<i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#marketing">Científico de datos<i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#pricing">Modelo de beneficio compartido <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link btn btn-demo-small">
            <a class="nav-link" href="#">!Hablemos! <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- E N D  N A V B A R -->

  <!-- H E R O -->
  <section id="hero_comp" style="background-image:url('images/choicesB_2.jpg')">
    <div class="bg-image"></div>
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-7">
          <img src="images/home.jpg" class="img-fluid" alt="Demo image">
        </div> -->
        <div class="col-md-5 content-box hero-content">
          <span>Empresa</span>
          <h1>Haz que la inteligencia artificial <b>transforme tu negocio</b></h1>
          <!-- <p>Potencializa tu negocio con la inteligencia artificial</p> -->
        </div>
      </div>
    </div>
  </section>
  <!-- CHOICES COMP -->
  <section sectionid="choices" class="choices">
        <div class="choices-title">
          <div>
              Aumentamos tus ingresos y dismunimos tus gastos con <b>Inteligencia Artificial</b>
          </div>
        </div>
        <div class="choices-row">
          <div class="col-md-4 col-xs-12 choice-card card-standard">
            <img class="choice-card-icon" src="https://images.ctfassets.net/j5zqortrwrmy/1hVkNz95cEekEsnbG27u5H/c54ae62b04598c4a8f12b7d8c2c16727/Expertise.jpg">
            <div class="choice-card-title">
              Cientificos de datos con sentido de negocio
            </div>
            <div class="choice-card-text">
              Contamos con experiencia de diversos Data Scientist que eliges segun tus proyectos y requerimientos. Nos aseguramos que el proyecto te agregue valor contando con un equipo con experiencia y conocimientos diversos on-demand
            </div>
          </div>
          <div class="col-md-4 col-xs-12 choice-card card-standard">
            <img class="choice-card-icon" src="https://images.ctfassets.net/j5zqortrwrmy/2GOTLRgKNuVWBD2SeXkpzX/73d7dcd845733e6cb7e4097cf94f17a5/TailorMade.jpg">
            <div class="choice-card-title">
              Proyectos on-demand
            </div>
            <div class="choice-card-text">
              Eliminamos los altos costos de transaccion que tendrías por contratar un equipo interno o contratar una consultoría para utilizar data sicence dentro de tu empresa. Te proveemos de un esquema flexible y agil de estructura para hacer realidad tu transformación.
            </div>
          </div>
          <div class="col-md-4 col-xs-12 choice-card card-standard">
            <img class="choice-card-icon" src="https://images.ctfassets.net/j5zqortrwrmy/2JxPutWyu4Qh2sFdA4EV5P/cf1f55a85a0c1dc221fc5c69bad6d0db/FastTrackInnovation.jpg">
            <div class="choice-card-title">
              Trabajamos sobre resultados
            </div>
            <div class="choice-card-text">
              Queremos acompañarte en tu viaje de transformación con Inteligencia Artificial. Por esto, tenemos un esquema de pago basado en un beneficio y riesgo compartido.
            </div>
          </div>
        </div>
      </section>
      <!-- H E R O -->
      <section id="company_form">
        <div class="container">
          <div class="title-block">
            <h2>Contáctanos</h2>
          </div>

        </div>
      </section>

      <!--  F O O T E R  -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h5>Blog</h5>
              <ul>
                <li><a href="#">Anlitica para la rentabilidad</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h5>Sobre nosotros</h5>
              <p>Frontier Analytics busca democratizar el accceso a la inteligencia artificial por parte de todas las empresas Latino Americanas</p>
              <p><a href="info@frontieranalytics.com.co" class="external-links">info@frontieranalytics.com.co</a></p>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="col-md-6 col-xs-12">
                <a href="#"><i class="icon ion-logo-facebook"></i></a>
                <a href="#"><i class="icon ion-logo-instagram"></i></a>
                <a href="#"><i class="icon ion-logo-linkedin"></i></a>
              </div>
              <div class="col-md-6 col-xs-12">
                <small>2021 &copy; All rights reserved. Made by <a href="www.frontieranalytics.com.co" target="blank" class="external-links">frontieranalytics</a></small>
              </div>
          </div>
        </div>
      </footer>
      <!--  E N D  F O O T E R  -->


    <!-- External JavaScripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
