<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom Css -->
    <link rel="stylesheet" href="style.css" type="text/css" />

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <title>Frontier Analytics</title>
  </head>

  <body>

  <!-- N A V B A R -->
  <nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon ion-md-menu"></span>
    </button>
    <img src="images/LogoFrontier.png" class="img-fluid nav-logo-mobile" alt="Company Logo">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="container">
      	<img src="images/LogoFrontier.png" class="img-fluid nav-logo-desktop" alt="Company Logo">
        <ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="index.html">Inicio <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#testimonials">Empresa<i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#marketing">Científico de datos<i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#pricing">Modelo de beneficio compartido <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link btn btn-demo-small">
            <a class="nav-link" href="#">!Hablemos! <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- E N D  N A V B A R -->

  <!-- H E R O -->
  <section id="hero">
    <div class="bg-image"></div>
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-7">
          <img src="images/home.jpg" class="img-fluid" alt="Demo image">
        </div> -->
        <div class="col-md-5 content-box hero-content">
          <span>Market Place</span>
          <h1>Frontier Analytics <b>Democratizando el poder de los datos</b></h1>
          <p>Potencializa tu negocio con la inteligencia artificial</p>
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  H E R O -->
  <!-- C A L L  T O  A C T I O N -->
  <section id="choices">
    <div class="title-block">
      <h2 style="color: #d0d0d0">¿Quién eres?</h2>
    </div>
    <div class="home-choices-row">
      <div class="row">
        <div class="col-md-6">
          <div class="choices-card-cover home-left" style="background-image:  url('images/choicesB.jpg'); background-size: cover; background-repeat: no-repeat">
            <div class="hero-subtitle">
              Empresa
            </div>
            <a href="#" class="btn btn-regular">Conoce más</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="choices-card-cover home-right"style="background-image:  url('images/choicesDS.jpg'); background-size: cover; background-repeat: no-repeat">
            <div class="hero-subtitle">
              Científico de datos
            </div>
            <a href="#" class="btn btn-regular">Conoce más</a>
          </div>
        </div>
    </div>
  </section>
  <!-- E N D  C A L L  T O  A C T I O N -->
  <!-- Company -->
  <!-- <section id="company">
    <div class="container">
      <div class="row">
        <div class="col-md-12 content-box hero-content">
          <h1>Empresa</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </section> -->
  <!-- E N D  COMPANY -->
  <!-- DATA SCIENTIST-->
  <!-- <section id="data_scientist">
    <div class="container">
      <div class="row">
        <div class="col-md-12 content-box hero-content">
          <h1>Científico de datos</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </section> -->
  <!-- E N D  DATA SCIENTIST -->
  <!-- P R I C I N G -->
  <section id="pricing">
    <div class="container">
      <div class="title-block">
        <h2 style="color: #ffffff">Analitíca basada en un beneficio y riesgo compartido</h2>
        <p style="color: #ffffff">Crece tu negocio por medio de la inteligencia artificial con nosotros. Buscamos ser el primer market place de data science en Colombia, donde puedas realizar tus proyectos de ciencia de datos con equipo temporal, durante el tiempo que el proyecto agregue valor a tu empresa.</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="pricing-box">
            <h3 class="demo">Demostración</h3>
            <h6>$1000 USD</h6>
            <small> </small>
            <p>Hacemos un assesment de tus capacidades digitales y te mostramos el valor que puede tener un modelo de Machine Learning en tu negocio, por medio de una prueba de concepto.</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Análisis exploratorio de los datos</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Planeación de hoja de ruta de tus capacidades digitales</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Experimentación de Machine Learning con tus datos</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Generación de valor a pequeña escala</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Aprendizajes inmediatos sobre tus datos</li>
            </ul>
            <div class="text-center">
              <a href="#" class="btn btn-demo">Demo version</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pricing-box">
            <h3>Riesgo compartido</h3>
            <h6>$*</h6>
            <small>*Se mide con base a los resultados</small>
            <p>En Frontier Analytics creemos que la inteligencia articial se puede aplicar a todo tipo de empresa y no sólo a las empresas de grandes presupuestos, por eso introducimos un modelo de costos en donde compartimos el riesgo y el beneficio contigo.</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Sin costos de transacción</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Sin pagos de rentabilidad altos de consultoría</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Sin arquitecturas de software definidas</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Sin espacio en oficina/equipo de computo</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Sin necesidad de crear tu <b>equipo</b> de Data Science</li>
            </ul>
            <div class="text-center">
              <a href="#" class="btn btn-buy">Buy now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  P R I C I N G -->
  <!-- E N D  M A R K E T I N G -->
  <!-- <section id="marketing">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="content-box">
            <span>Conoce nuestro trabajo</span>
            <h2>Haz una prueba</h2>
            <p>Grow your search traffic, research your competitors keywords and monitor your ranking in real time.</p>
            <a href="#" class="btn btn-regular">Solicita tu prueba</a>
          </div>
        </div>
        <div class="col-md-7">
            <img src="images/demo-image.png" class="img-fluid" alt="Demo image">
        </div>
      </div>
    </div>
  </section> -->
  <!-- E N D  M A R K E T I N G -->
  <!-- T E S T I M O N I A L S -->
  <section id="testimonials">
    <div class="container">
      <div class="title-block">
        <h2>Quiénes somos</h2>
        <p style="color: #ffffff"> Escribir un texto que nos describa</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="testimonial-box">
            <div class="row personal-info">
              <div class="col-md-2 col-xs-2">
                <div class="profile-picture review-one"></div>
              </div>
              <div class="col-md-10 col-xs-10">
                <h6>Luis Nieto </h6>
                <small>Arquitecto de tecnología</small>
              </div>
            </div>
            <p>Entusiasta en la búsqueda de la competitividad permanente y transformaciones profundas de personas, organizaciones y ecosistemas de negocio. Mastér en Transformación Digital y Desarrollo de negocios, Ingeniero Industrial, Design Thinker y especialista en gerencia de proyectos ágiles. Amplia experiencia en posicionamiento e implantaciones de proyectos de innovación, tecnología y procesos apoyados en herramientas digitales de clase mundial y con promesas de valor garantizada. Enfocado al logro y siempre asegurando los objetivos de la compañía desde el punto de vista estratégico así como con los compromisos financieros y de operación exigidos. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial-box">
            <div class="row personal-info">
              <div class="col-md-2 col-xs-2">
                <div class="profile-picture review-two"></div>
              </div>
              <div class="col-md-10 col-xs-10">
                <h6>Martín Oviedo</h6>
                <small>Data Scientist</small>
              </div>
            </div>
            <p>Amante de los datos y de la innovación con sentido de negocio. Encantado por resolver problemas de formas únicas y personalizadas basadas en Inteligencia Artificial. Estudios en Ciencia Política y Administración de Empresas en la Universidad de los Andes -grado con honores-. Con un posgrado en Administración de Empresas en la Universidad del Rosario -Magna Cum Laude-. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial-box">
            <div class="row personal-info">
              <div class="col-md-2 col-xs-2">
                <div class="profile-picture review-three"></div>
              </div>
              <div class="col-md-10 col-xs-10">
                <h6>Juan Campos</h6>
                <small>Machine Learning Engineer</small>
              </div>
            </div>
            <p>Construcción de modelos analíticos para diferentes industrias tales como cajas de compensación o centros de distribución. Experiencia trabajando con clientes como Colsubsidio a nivel Colombia, y KOF FEMSA a nivel global. </p>
          </div>
        </div>
        <!-- <a href="#" class="btn btn-regular">Solicita tu prueba</a> -->
      </div>
    </div>
  </section>
  <!-- E N D  T E S T I M O N I A L S -->


  <!-- C A L L  T O  A C T I O N -->
  <section id="call-to-action">
    <div class="container text-center">
      <h2>¡Hablemos!</h2>
      <div class="title-block">
        <p>Estás a un paso de cambiar tu negocio.</p>
        <a href="#" class="btn btn-regular">Escribenos</a>
      </div>
    </div>
  </section>
  <!-- E N D  C A L L  T O  A C T I O N -->

  <!--  F O O T E R  -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>Seo Ranking</h5>
          <ul>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Affiliate Program</a></li>
            <li><a href="#">Developer API</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Video Tutorials</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Main Tools</h5>
          <ul>
            <li><a href="#">Rank Tracker</a></li>
            <li><a href="#">Backlink Checker</a></li>
            <li><a href="#">Keyword Generator</a></li>
            <li><a href="#">Serp Checker</a></li>
            <li><a href="#">Site Audit</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Blog</h5>
          <ul>
            <li><a href="#">Get High Quality Backlinks</a></li>
            <li><a href="#">Top Google Searches</a></li>
            <li><a href="#">Avoid Google Penalties</a></li>
            <li><a href="#">White Hat SEO Tips</a></li>
            <li><a href="#">Google Trends</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Company</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque, tortor nec mattis feugiat, velit purus euismod odio, quis vulputate velit urna.</p>
          <p><a href="mailto:sales@theseocompany.com" class="external-links">sales@theseocompany.com</a></p>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
            <a href="#"><i class="icon ion-logo-facebook"></i></a>
            <a href="#"><i class="icon ion-logo-instagram"></i></a>
            <a href="#"><i class="icon ion-logo-twitter"></i></a>
            <a href="#"><i class="icon ion-logo-youtube"></i></a>
          </div>
          <div class="col-md-6 col-xs-12">
            <small>2018 &copy; All rights reserved. Made by <a href="http://templune.com/" target="blank" class="external-links">Templune</a></small>
          </div>
      </div>
    </div>
  </footer>
  <!--  E N D  F O O T E R  -->


    <!-- External JavaScripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
